@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wrapper {
    @apply container mx-auto px-5 xl-2:max-w-xl-7;
  }

  .title-1 {
    @apply max-w-lg text-xl-4 font-bold
    leading-[1.15] tracking-tight md:max-w-xl-2
    md:text-xl-5 xl:max-w-xl-4 xl:text-xl-6;
  }

  .paragraph {
    @apply max-w-xl text-lg
    font-normal leading-relaxed
    md:max-w-xl-3 md:text-xl;
  }

  .button {
    @apply flex cursor-pointer items-center justify-center
    gap-3 border-2 border-transparent bg-transparent
    py-5 px-8 text-base
    font-medium leading-none outline-none transition-all
    hover:-translate-y-1 focus:translate-y-0
    md:text-lg;
  }

  .button-primary {
    @apply border-teal-500 bg-teal-500 text-white
    hover:border-white hover:bg-white hover:text-zinc-900
    focus:border-zinc-900 focus:bg-zinc-900 focus:text-white;
  }

  .button-secondary {
    @apply border-zinc-900 bg-transparent text-zinc-900
    hover:border-zinc-900 hover:bg-zinc-900 hover:text-white
    focus:border-white focus:bg-white focus:text-zinc-900;
  }

  .button-tertiary {
    @apply text-zinc-900 underline decoration-teal-300
    decoration-2 underline-offset-2
    hover:decoration-zinc-900 focus:decoration-transparent;
  }

  .button-white {
    @apply border-white bg-white text-zinc-900
    hover:border-white hover:bg-transparent hover:text-white
    focus:border-zinc-900 focus:bg-zinc-900 focus:text-white;
  }
}
